QLabel{
	font-family: arial;
	font-size: 18px;
	background-color: lightgray;
	padding: 2px;
}
QLabel:hover{
	background-color: #AEABA8;
}
QTextBrowser{
	font-family: arial;
	font-size: 18px;
	selection-background-color:brown;
	background-color: black;
	color: white;
	margin-left: 2px;
	border: none;
	spacing: 3px;
}
